.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-select {
    width: 80px; /* Adjust as necessary */
}

.input-group .form-control {
    flex-grow: 1;
    width: 100px;
    height: 40px;
}

.input-group-text img {
    margin-right: 5px; /* Space between flag and country code */
}
